<h1> Add a course </h1>
<%= simple_form_for [:admin,@course] do |f| %>
<%= f.input :title %>
<%= f.input :price %>
<%= f.input :currency %>
<%= f.input :course_type %>
<%= f.input :is_available %>
<%= f.input :link %>
<%= f.input :description %>
<%= f.input :expiry_day %>
<%= f.submit "Submit", :class => "btn btn-primary" %>
<% end %>